############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> ERCF MCUs are called "ercf" 

# ------------------------------------------------------------------------------------------



#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the following 3
## lines to define a new `variable_startprint_actions`. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "extruder_preheating", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# [gcode_macro _USER_VARIABLES]
# variable_startprint_actions: "action1", "action2", ...
# gcode: # do not remove this line


#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

## Here is an example of some overrides for the PIDs. I put them here as almost everyone will use them,
## so just uncomment the following lines and change the values according to your own machine



[include config_override/toolhead1.cfg]

[include config_override/motion.cfg]

[include config_override/inputshaper.cfg]

[include config_override/homing_override.cfg]

[skew_correction]

# [auto_speed] # Need Module install

[heater_bed]
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[controller_fan powersupply]
pin: CONTROLLER_FAN
fan_speed: 1
idle_timeout: 30
idle_speed: 0.7
heater: extruder
stepper: stepper_x , stepper_x1 , stepper_y ,stepper_y1 , stepper_z , stepper_z1 , stepper_z2 , stepper_z3

[heater_fan exhaust_filter]
pin: tartatus:PA1

[quad_gantry_level]
points:
    50,50
    50,305
    305,305
    305,50
retries: 15
#min_horizontal_move_z: 5.0  #Kalico
#adaptive_horizontal_move_z: True #Kalico

#[bed_mesh]
#mesh_min: 50, 50
#mesh_max: 305, 305
#probe_count: 7, 7

[printer]
max_accel: 8570

[gcode_shell_command backup_cfg]
command: ~/printer_data/config/autocommit.sh
timeout: 30
verbose: True

[gcode_macro BACKUP_CFG]
description: Backs up config directory GitHub
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg

